.container{
    display: inline-block;
    width: 100%;
    text-align: center;
   
}

    .container.hero{
        background-image: url(../img/background-n.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding: 80px 20px;
        text-align: center;
    }

    .container.content{
        background-color: #ffffff;
        padding: 60px 80px;
      
    }

    .container.footer {
        background-color: #3366ff;
        padding-top: 10px;    
}

    .container > .hero-row{
        display: inline-block;
        width: 600px;
        text-align: center;
    }

.hero-row > .logo {
    display: inline-block;
    margin-bottom: 40px;
    height: 120px;
}

.hero-row > h1 > p{
    display: inline;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
    font-size: 35px;
}

p:first-child{
    color: brown;
}

p:nth-child(2){
    color: #ffffff;
    font-weight: lighter;
}

.hero-row > p {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #dddddd;
    padding-bottom: 20px;
}

.hero-row > .clock {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.hero-row > .mouse {
     
}

.hero-row > p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
}

.emailas {
    display: inline-block;
    border: red solid 1px;
    padding: 10px;
    width: 100%; 
}

.emailas > input {
        display: inline-block;
        float: left;
        font-size: 18px;
        margin-top: ((40px - 18px) / 2);
        background-color: transparent;
        border: none;
        font-weight: lighter;
        color: #ffffff;
    }

    .emailas > .btn > a {
    
        display: inline-block;
        float: right;
        color: #ffffff;
        font-weight: lighter;
        text-decoration: none;
    }


/*main content*/
.content-header {
    display: inline-block;
    width: 500px;
    padding-bottom: 40px;
    position: relative;
}

        .content-header > h2 > p {
            display: inline;
            width: 100%;
            text-transform: uppercase;
            font-size: 34px;
            font-weight: lighter;
            color: black;
        }

            h2 > p:last-child{
                font-weight: bold;
            }

        .content-header > p {
            display: inline-block;
            width: 100%;
            font-size: 23px;
            line-height: 35px;
            margin: 20px 0;
            color: #777777;
            font-weight: lighter;
        }

        span {
            display: inline-block;
            width: 100px;
            border: coral solid 1px;  
            margin-top: 20px;
        }

    .content-row {
        display: inline-block;
        width: 1100px;
        padding-top: 80px;
        padding-bottom: 80px;
       
    }

        .content-column {
            display: inline-block;
            width: 30%;
            float: left;
            margin: 0 10px;

        }

            h3 {
                font-size: 18px;
                font-weight: normal;
            }

            .content-column > p {
                font-size: 17px;
                line-height: 20px;
                text-align: justify;
                color: grey;
                padding: 20px;
                font-weight: lighter;
            }

            .ikona {
                display: inline-block;
                border: coral solid 1px;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                margin-bottom: 30px;
                background-color: #ffffff;
            }

                .ikona i {
                    display: inline-block;
                    font-size: 60px;
                    color: coral;
                    margin-top:45px;
                }

                .ikona:hover i {
                    animation: ikonele 500ms;
                    animation-iteration-count: 1;
                
                }
            
            @keyframes ikonele {
                0%{
                    margin-top: 45px;
                    color: coral;
                }
                25% {
                    margin-top: 0;
                    color: coral;
                    opacity: 0;
                }

                50%{
                    margin-top: 90px;
                    color: #fff;
                    opacity: 0;
                }

                100% {
                    margin-top: 45px;
                    color: #fff;
                }
            }

            .ikona:hover {
                animation: pagrindas 500ms;
          }

            @keyframes pagrindas {
               from {background-color: white}
               to {background-color: coral;}
            }


    .Contact-form {
        display: inline-block;
        background-image: url(../img/contact-info.jpg);
        background-attachment: fixed;
        }

        .Contact-form > .contact-form-row {
            width: 400px;
            display: inline-block;
            color: #fff;
            text-align: center;
            padding-top: 80px;
            padding-bottom: 90px;
        }

        .phone {
            display: inline-block;
           width: 90%;
            color: #ffffff;
            font-size: 45px;
            font-weight: lighter;
            background: #777777;
            opacity: 0.2;
        }

        .phone > i {
           padding-right: 10px;
           float: left;
           opacity: 1;
        }

        .phone > .number {
            opacity: 1;
        }

        .email-contact {
            display: flex;
           flex-direction: column;
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
            font-weight: lighter;
            
        }

        .email-contact > a {
            color: #fff;
            padding: 10px;
            font-size: 20px;
            text-decoration: none;
            font-weight: lighter;  
        }

        .adress {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 20px;
            font-size: 20px;
            font-weight: lighter;
        }

        .adress > .adresas‎ {
            padding-top: 10px;
        }

    .content-row > .btn{
            display: inline-block;
            background-color:coral;
            width: 120px;
            font-size: 17px;
            padding: 15px 5px;
            text-transform: capitalize;
            margin-top: 50px;
            float: left;
            transform: translateX(-50%);
            border-radius: 3px;
          
            
            }

            .btn >  a{
                color: #ffffff;
                text-decoration: none;
            }

           input:focus {
            outline: none;
                border: coral solid 2px;
            }

            .map {
                background-image: url(../img/map.png);
                background-repeat: no-repeat;
                background-size: cover;
                height: 550px;
            }
    
            .btnr > a > i {
                color: #fff;
                background-color: coral;
                font-size: 30px;
                padding: 13px 20px;
                border-radius: 50px;
                opacity: 0.6;
                transform: translateY(-59%);
            }

            .btnr > a > i:hover {
                opacity: 1;
            } 

        /*Footer*/

        .container.footer {
            background-color: rgb(24, 41, 41);
            background-size: 100%;
           
        }

        .container.footer > .footer-row {
            display: inline-block;
            width: 500px;
            padding-bottom: 30px;
        }

            .footer-row > .first-row {
                display: inline-block;
                width: 100%;
                padding: 20px;
                padding-top: 0;
           
            }

                .footer-row > .first-row > p{
                    display: inline;
                    width: 100%;
                    color: #bbbbbb;
                    font-weight: lighter;
                    font-size: 18px;
                }

                .footer-row > .first-row > p:last-of-type {
                    color: red;
                    font-weight: bold;
                }

            .social {
                display: inline-block;
                width: 100%;
               
            }
                .social > i {
                    padding: 10px;
                    color: #bbbbbb;
                }
        