.container{
    display: inline-block;
    width: 100%;
    padding: 80px 0;
}

    .container.hero{
        background-image: url(../img/background-n.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        padding-bottom: 20px;
        text-align: center;
    }

    .container.content{
        background-color: #ffffff;
        padding: 60px 80px;
        text-align: center;
    }

    .container.footer {
        background-color: #3366ff;
        padding-top: 10px;    
}

    .container > .hero-row{
        display: inline-block;
        width: 600px;
        text-align: center;
    }

.hero-row > .logo {
    display: inline-block;
    margin-bottom: 40px;
    height: 120px;
}

.hero-row > h1 > p{
    display: inline;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
    font-size: 35px;
}

p:first-child{
    color: brown;
}

p:nth-child(2){
    color: #ffffff;
    font-weight: lighter;
}

.hero-row > p {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #dddddd;
    padding-bottom: 20px;
}

.hero-row > .clock {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.hero-row > .mouse {
     
}

.hero-row > p {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: lighter;
}

.emailas {
    display: inline-block;
    border: red solid 1px;
    padding: 10px;
    width: 100%; 
}

.emailas > input {
        display: inline-block;
        float: left;
        font-size: 18px;
        margin-top: ((40px - 18px) / 2);
        background-color: transparent;
        border: none;
        font-weight: lighter;
        color: #ffffff;
    }

    .emailas > .btn > a {
    
        display: inline-block;
        float: right;
        color: #ffffff;
        font-weight: lighter;
        text-decoration: none;
    }


/*main content*/
.content-header {
    display: inline-block;
    width: 500px;
    padding-bottom: 40px;
    position: relative;
}

        .content-header > h2 > p {
            display: inline;
            width: 100%;
            text-transform: uppercase;
            font-size: 34px;
            font-weight: lighter;
            color: black;
        }

            h2 > p:last-child{
                font-weight: bold;
            }

        .content p {
            display: inline-block;
            width: 100%;
            font-size: 23px;
            line-height: 35px;
            margin: 20px 0;
            color: #777777;
            font-weight: lighter;
        }

        span {
            display: inline-block;
            width: 100px;
            border: coral solid 1px;  
            margin-top: 20px;
        }

    .content-row {
        display: inline-block;
    }

        .content-column {
            display: inline-block;
            width: 30%;
            float: left;
            margin: 0 10px;

        }

            h3 {
                font-size: 18px;
                font-weight: normal;
            }

            .content-column > p {
                font-size: 15px;
                line-height: 20px;
                text-align: justify;
            }

            .ikona {
                display: inline-block;
                border: coral solid 1px;
                border-radius: 50%;
                width: 150px;
                height: 150px;
                margin-bottom: 30px;
                background-color: #ffffff;
            }

                i {
                    display: inline-block;
                    font-size: 60px;
                    color: coral;
                    margin-top:45px;
                }

                .ikona:hover i {
                    animation: ikonele 5s;
                    animation-iteration-count: 1;
                }
            
            @keyframes ikonele {
                0%{
                    margin-top: 45px;
                    color: coral;
                }
                25% {
                    margin-top: 0;
                    color: coral;
                    opacity: 0;
                }

                50%{
                    margin-top: 90px;
                    color: #fff;
                }

                100% {
                    margin-top: 45px;
                    color: #fff;
                }
            }

            .ikona:hover {
                animation: pagrindas 5s;
          }

            @keyframes pagrindas {
               from {background-color: white}
               to {background-color: coral;}
            }